<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <form action="/users/logout" method="POST">
		<input type="submit" value="Desconectar"></input>
	    </form>

        <div>
        <a href="/festival">Festivales</a>
        </div>

        <div>
        <a href="/bands/create">Añadir Grupos a nuestro listado</a>
        </div>
    </nav>


    <h1>Bandas:</h1>
    <div>
        <ul>
            {{#each bands}}
            <li>
                <h3>Grupo: {{this.name}}</h3>
                <img src="{{this.image}}"alt="image" width="300px">
                <h4>Genero: {{this.gender}}</h4>
                <p>Descripcion: {{this.description}}</p>              
            </li>
            {{/each}}
        </ul>
    </div>
    
</body>
</html>