<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <h3>Añade el grupo que quieras y que no esté en el listado</h3>

        <form method="POST" action="/bands/create" enctype="multipart/form-data">

            <div>
             <p>Nombre del grupo:</p>
             <input name="name" type="text">
            </div>

             <div>
             <p>Imagen</p>
             <input name="image" type="file" accept="image/png, image/jpg">
            </div>

             <div>
             <p>Genero</p>
             <select>
                 <option value="Indie nacional">Indie nacional</option>
                 <option value="Internacional">Internacional</option>
                 <option value="Pop">Pop</option>
                 <option value="Electro/House">Electro/House</option>
                 <option value="Others">Otros</option>
             </select>
             </div>

            <div>
             <p>Descripción:</p>
             <input name="description" type="text">
            </div>          
             
            <div>
                <button type="submit">Añadir grupo</button>
            </div>
        </form>
    </div>   
</body>
</html>