<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <a href="/">Volver a Inicio</a>
    </div>
    <h1>Hemos tenido un error {{ status }} en nuestro servidor</h1>
    <h3>{{ message }}</h3>    
</body>
</html>
