<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Festival</h2>
    <ul>
        {{#each festival }}
        <li>
            <h3>{{this.name}}</h3>
            <p>{{this.date}}</p>
            <p>{{this.location}}</p>
            <p>{{this.band}}</p>
        </li>
        {{/each}}
    </ul>
    
</body>
</html>

