<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../stylesheets/index.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Page Contact Group</h1>

    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <a href="/register">Registro</a>
    </div>
</body>
</html>