<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="text-align: center">
     <h1>Acceso clientes</h1>

  <form action="/users/login" method="POST">
    <label for="email">
      <p>Email</p>
      <input type="text" name="email">
    </label>

    <label for="password">
      <p>Password</p>
      <input type="password" name="password">
    </label>

    <div>
    <input type="submit" value="Entrar">
    </div>

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}
  </form>
    
</body>
</html>