<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body style="text-align: center">
    <h1>Registrate</h1>

    <form action="/users/register" method="POST">
         <label>
             <p>Email:</p>
             <input type="text" name="email" required>
         </label>

         <label>
             <p>Password:</p>
             <input type="password" name="password" required>           
         </label>    
        <div>
        <button type="submit">Registrate</button>
        </div>

        {{#if error}}
        <p style="color: red; font-size: 18px">{{ error }}</p>
        {{/if}}        
    </form>
</body>
</html>